<div id="app" class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Meter Report</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Meter UID
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ this.meterUid }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-id-card fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Last Billing</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">${{ this.bill_total_cost }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Meter Number</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ this.meterNumber }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">kwh Watch Status</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ this.watchStatus  }}%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: this.watchStatus + '%'}" v-bind:aria-valuenow="watchStatus" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Line Chart -->
    <%= partial("chart.plush.html") %>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Realtime Feed</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="small">
            <ul class="list-group">
              <li class="list-group-item" v-for="(item, index) in intervals">
                <span>
                  <i class="fas fa-circle text-success"></i> {{ item.x  }}
                </span>
              </li>
            </ul>
            
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Info
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> Warning
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-danger"></i> Alerts
            </span>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Meter Account</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="small">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for="(value, name) in account">
                <div class="row">
                  <div class="col-xl-7 col-lg-7">
                    {{ name }}:
                  </div>
                  <div class="col-xl-5 col-lg-5">
                    {{ value }}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

new Vue({
  el: '#app',
  methods: {
    reload: function () {
      var ctx = document.getElementById('canvas').getContext('2d');
      new Chart(ctx, this.config);
    }
  },
  watch: {
    meterUid: function() {this.reload();}
  },
  data: {
    meterUid: window.getParam('meterUid'),
    alertRules: [
      {
        name: 'kWh',
        condition: '>=',
        value: 3.0,
        duration: '30 min',
        notification: 'sms: 555-666-7777'
      },
      {
        name: 'kWh',
        condition: '>=',
        value: 4.0,
        duration: '30 min',
        notification: 'phone: 555-666-7777'
      },
      {
        name: 'kWh',
        condition: '<=',
        value: 0.0,
        duration: '50 min',
        notification: 'email: foobar@example.com'
      },
      {
        name: 'kWh',
        condition: 'is',
        value: 'abnormal',
        duration: '50 min',
        notification: 'email: foobar@example.com'
      },
    ]
  },
  mounted: function () {
    this.reload();
  },
  computed: {
    lastBilling: function () {
      return fetchLastBilling(this.meterUid);
    },
    bill_total_cost: function () {
      return this.lastBilling.base.bill_total_cost;
    },
    meterNumber: function () {
      return this.lastBilling.base.meter_numbers[0];
    },
    account: function () {
      return fetchAccount(this.meterUid);
    },
    watchStatus: function () {
      return '90';
    },
    intervals: function () {
      return fetchIntervals(this.meterUid).reverse().slice(-5, -1);
    },
    config: function () {
      return {
        type: 'line',
        data: {
          datasets: [{
            borderColor: window.chartColors.blue,
            fill: false,
            data: fetchIntervals(this.meterUid),
          }]
        },
        options: {
          legend: {
            display: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              type: 'time',
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'DateTime'
              },
              ticks: {
                major: {
                  fontColor: window.chartColors.blue,
                }
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'kWh'
              }
            }]
          }
        }
      }
    }
  }
});

</script>
